<div id="nav">
  <a href="/register">Register</a>
  <br>
  <a href="/login">Sign In || </a><a href="/logout">Sign Out</a>
  <br>
</div>

{{> header}}
<div id="banner" style="background-image: url(/assets/IMG_2302.JPG);">
</div>
<h1>Each baby has a story, show yours!</h1>
<br>
<div id="content">
  {{#each photos}}
  <div class="image">
    <a href ="/gallery/{{id}}"><div class="img" style="background-image: url({{link}});"></div></a>
    <br>
    <div class="author">{{author}}</div>
  </div>
  <div class="middleLine"></div>
  <br>
  {{/each}}
</div>

<div id="upload">
      <a href="/gallery/new">Upload New Image</a>
</div>

{{> footer}}

