html {
  width: 100%;
  height: 100%;
  background-image: url("/assets/elastoplast.png");
  background-repeat: repeat;
  background-position: center;
  background-attachment: center fixed; }

body {
  margin: 50px;
  font-family: 'Roboto', sans-serif;
  color: #8E8E8E;
  font-size: 16px;
  background-repeat: no-repeat; }

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #FFC0D5;
  padding: 1px;
  font-size: 90%; }

form {
  margin: 1vw; }

#regText {
  text-align: center; }

#register {
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

#login {
  width: 500px;
  margin-left: auto;
  margin-right: auto; }

#nav {
  text-align: right;
  padding: 1vw; }

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: #8E8E8E dotted 1px;
  padding-top: 10px;
  padding-bottom: 10px; }

#title {
  font-family: 'Karla', sans-serif;
  color: #8E8E8E;
  font-size: 300%;
  font-weight: 800;
  padding-right: 20px; }

#intro {
  display: none;
  font-size: 75%;
  border-left: dotted 1px #8E8E8E;
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  height: 85px;
  width: 200px;
  overflow: hidden; }

#upload {
  font-size: 100%;
  text-align: right; }

#banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  margin-right: 50px;
  height: 35vw;
  width: 80vw;
  filter: grayscale(50%);
  box-shadow: 30px 30px 55px 0 beige inset, -30px -30px 55px 0 beige inset; }

h1 {
  display: center;
  text-align: center; }

#content {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: #8E8E8E solid 1px;
  border-bottom: #8E8E8E solid 1px; }
  #content .image {
    padding-top: 10px;
    padding-bottom: 10px; }
  #content .img {
    position: relative;
    height: 300px;
    width: 200px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; }

#detailContent {
  display: flex;
  width: 600px;
  justify-content: space-between; }
  #detailContent #details {
    line-height: 20px;
    width: 700px; }
    #detailContent #details .author {
      font-size: 120%; }
  #detailContent .previewImg {
    position: relative;
    width: 600px;
    height: 450px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 20px;
    filter: grayscale(50%);
    box-shadow: 30px 30px 55px 0 beige inset, -30px -30px 55px 0 beige inset; }
  #detailContent .thumbnail {
    line-height: 10px;
    padding-left: 200px; }
    #detailContent .thumbnail .author {
      font-size: 120%; }
    #detailContent .thumbnail .thumbnail_img {
      position: relative;
      height: 250px;
      width: 300px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover; }

#preview {
  display: none; }

#footer {
  padding-top: 10px;
  font-size: 60%;
  display: center;
  text-align: center; }

@media screen and (min-width: 480px) {
  #intro {
    display: block; }
  #title {
    font-size: 450%; }
  #header {
    padding-bottom: 50px; }
  #banner {
    width: 92vw; }
  #preview {
    display: flex;
    flex-direction: column;
    justify-content: center; } }
